actionlib==1.14.0
angles==1.9.13
asgiref==3.8.1
backports.zoneinfo==0.2.1
camera-calibration-parsers==1.12.0
catkin==0.8.10
chardet==5.2.0
cv-bridge==1.16.2
diagnostic-updater==1.11.0
Django==4.2.11
django-cors-headers==4.3.1
django-extensions==3.2.3
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
Faker==24.14.0
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gps-common==0.3.4
interactive-markers==1.12.0
laser-geometry==1.6.7
message-filters==1.16.0
pillow==10.3.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-qt-binding==0.4.4
pytz==2024.1
reportlab==4.2.0
resource-retriever==1.12.7
rosbag==1.16.0
rosclean==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslz4==1.16.0
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rviz==1.14.20
sensor-msgs==1.13.1
six==1.16.0
smclib==1.8.6
sqlparse==0.4.4
tf==1.13.2
tf2-geometry-msgs==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
topic-tools==1.16.0
typing-extensions==4.10.0
